<div class="container">

  <h1>Messages saved</h1>

  {{#each model as |contact|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>{{contact.email}}</h4>
    </div>
    <div class="panel-body">
      {{contact.message}}
    </div>
    <div class="panel-footer">
      <button type="button" name="button" class="btn btn-danger" {{action 'deleteMessage' contact}}>Delete</button>
    </div>
  </div>
  {{/each}}

</div>
