<div class="container">

  <h1>Invitations</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>E-mail</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |invitation|}}
      <tr>
        <th>{{invitation.id}}</th>
        <td>{{invitation.email}}</td>
        <td><button type="button" name="button" class="btn btn-danger" {{action 'deleteInvitation' invitation}}>Delete</button></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
